<template lang="html">
  <span>
    <span ref="paper" />
    <span class="type-writer-thought"><slot /></span>
  </span>
</template>

<script>
import Typewriter from 'typewriter-effect/dist/core'
export default {
  name: 'TypeWriter',
  props: {
    /**
     * Array of strings to type
     */
    strings: {
      type: Array
    },
    /**
     * Cursor character
     */
    cursor: {
      type: String,
      default: '|'
    },
    /**
     * Play as a loop
     */
    loop: {
      type: Boolean
    },
    /**
     * Autostart... well it's reactive now
     */
    autoStart: {
      type: Boolean
    },
    /**
     * ms delay between two characters, by default 'natural' is a [random number](https://github.com/tameemsafi/typewriterjs/blob/master/src/core/Typewriter.js#L496)
     */
    delay: {
      type: [String, Number],
      default: 'natural'
    },
    /**
     * css class of for the text
     */
    wrapperClassName: {
      type: String,
      default: 'Typewriter__wrapper'
    },
    /**
     * css class of for the cursor
     */
    cursorClassName: {
      type: String,
      default: 'Typewriter__cursor'
    }
  },
  data () {
    return {
      typewriter: null
    }
  },
  computed: {
    options () {
      let o = {
        cursor: this.cursor,
        delay: this.delay,
        wrapperClassName: this.wrapperClassName,
        cursorClassName: this.cursorClassName
      }
      if (this.strings) o.strings = this.strings
      if (this.loop) o.loop = true
      if (this.autoStart) o.autoStart = true
      return o
    },
    innerHtml () {
      return this.$slots && this.$slots.default
        ? this.$slots.default[0].text.trim()
        : ''
    },
    // Unique string to watch any prop change (except delay)
    properties () {
      return Object.keys(this.$props)
        .filter(prop => prop !== 'delay')
        .map(p => this.$props[p])
        .join()
    }
  },
  watch: {
    // Reset delay if modified
    delay (val, old) {
      if (val !== old) this.typewriter.changeDelay(val)
    },
    // Re init when props change
    properties () {
      this.typewriter = new Typewriter(this.$refs.paper, this.options)
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.typewriter = new Typewriter(this.$refs.paper, this.options)
      if (this.innerHtml) this.typewriter.typeString(this.innerHtml)
      this.typewriter.start()
    })
  },
  updated () {
    this.$nextTick(() => {
      if (this.innerHtml.length) this.typewriter.deleteAll()
      this.typewriter.typeString(this.$slots.default[0].text.trim())
      this.typewriter.start()
    })
  }
}
</script>

<style>
.type-writer-thought {
  display: none;
}
</style>
