<template>
  <div id="app">
    <TypeWriter>Test</TypeWriter>
  </div>
</template>

<script>
import TypeWriter from './components/TypeWriter'

export default {
  name: 'app',
  components: {
    TypeWriter
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
